Host gitlab.com
    Hostname gitlab.com
    IdentityFile /infra/.user/.ssh/id_ed25519
    StrictHostKeyChecking No
    UserKnownHostsFile=/dev/null
Host github.com
    Hostname github.com
    IdentityFile /infra/.user/.ssh/id_ed25519
    StrictHostKeyChecking No
    UserKnownHostsFile=/dev/null
